/* Orion Theme for iMIS */
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,700");
/* ==========================================================================
   MASTER PAGE LAYOUT
   ========================================================================== */
.body-main,
.col-primary {
  background-color: #e8ebf0;
}

/* Primary Navigation and Main Content
   ========================================================================== */
/* required to make the left bar span the full height */
.wrapper {
  min-height: 100vh;
  height: auto;
  position: relative;
  min-width: 290px;
}
.sidebar-fixed .wrapper {
  min-height: 100%;
  height: 100%;
  position: static;
}
.sidebar-fixed .wrapper.nav-expanded {
  overflow-x: hidden;
}
.no-mqs .wrapper {
  min-width: 970px;
}

.header, .breadcrumb, .sidebar, .main, .footer-main, .CommandBar {
  padding-left: 15px;
  padding-right: 15px;
}

.col-secondary {
  width: 220px;
  position: absolute;
  min-height: 100%;
}
@media (max-width: 767px) {
  .col-secondary {
    /* hide the nav by default on small screens */
    visibility: hidden;
  }
}
.sidebar-fixed .col-secondary {
  position: fixed;
  height: 100%;
}

.col-primary {
  min-height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .col-primary,
  .footer-main {
    /* on desktop make sure to give room for the left nav */
    margin-left: 220px;
  }
}
.no-mqs .col-primary, .no-mqs
.footer-main {
  /* on desktop make sure to give room for the left nav */
  margin-left: 220px;
}

@media (max-width: 767px) {
  .nav-expanded .col-secondary {
    visibility: visible;
  }
  .nav-expanded .col-primary,
  .nav-expanded .footer-main {
    -webkit-transform: translate3d(220px, 0, 0);
    transform: translate3d(220px, 0, 0);
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  margin-bottom: 15px;
}

.CommandBar {
  margin-bottom: 1em;
}

/* Auxiliary & Footer Areas
   ========================================================================== */
/* This applies to the navigation list in the auxiliary area and the footer area */
.NavigationUnorderedList {
  margin: 0;
  padding: 0;
}
.NavigationUnorderedList, .NavigationUnorderedList > li {
  list-style: none;
  display: inline-block;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

@media (min-width: 768px) {
  .footer-main .footer-left {
    float: left;
  }
  .footer-main .footer-right {
    float: right;
  }
}
.no-mqs .footer-main .footer-left {
  float: left;
}
.no-mqs .footer-main .footer-right {
  float: right;
}

/* This applies to the breadcrumb area */
.breadcrumb {
  float: none;
  display: inline-block;
  line-height: 2.2em;
}

.PageTasksPanel {
  display: inline-block;
}

/* Sticky Footer
   ========================================================================== */
.col-primary {
  min-height: 100%;
  margin-bottom: -90px;
}
@media (min-width: 768px) {
  .col-primary {
    margin-bottom: -50px;
  }
}
.no-mqs .col-primary {
  margin-bottom: -50px;
}
.col-primary:after {
  content: '';
  display: block;
}

.col-primary:after,
.footer-main {
  height: 90px;
}
@media (min-width: 768px) {
  .col-primary:after,
  .footer-main {
    height: 50px;
  }
}
.no-mqs .col-primary:after, .no-mqs
.footer-main {
  height: 50px;
}

.footer-main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidebar-fixed .footer-main {
  position: relative;
}
@media (min-width: 768px) {
  .footer-main .footer-left {
    float: left;
  }
  .footer-main .footer-right {
    float: right;
  }
}
.no-mqs .footer-main .footer-left {
  float: left;
}
.no-mqs .footer-main .footer-right {
  float: right;
}

/* Sidebar
   ========================================================================== */
/* This is used in Communities to display the navigation */
@media (min-width: 992px) {
  .has-sidebar .sidebar {
    width: 28%;
    float: left;
  }
  .has-sidebar .main {
    width: 72%;
    float: right;
  }
}
.no-mqs .has-sidebar .sidebar {
  width: 28%;
  float: left;
}
.no-mqs .has-sidebar .main {
  width: 72%;
  float: right;
}

/* ==========================================================================
   Basic setup
   ========================================================================== */
body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
}

a {
  color: #006f94;
  text-decoration: underline;
}
a:visited {
  color: #006f94;
}
a:hover, a:focus, a:active {
  color: #004961;
}
a.aspNetDisabled, a.aspNetDisabled:hover, a.aspNetDisabled:focus, a.aspNetDisabled:active, a.aspNetDisabled:visited {
  color: #999999;
}

.RadGrid a, .RadToolTip a {
  color: #006f94 !important;
  text-decoration: underline;
}
.RadGrid a:visited, .RadToolTip a:visited {
  color: #006f94 !important;
}
.RadGrid a:hover, .RadGrid a:focus, .RadGrid a:active, .RadToolTip a:hover, .RadToolTip a:focus, .RadToolTip a:active {
  color: #004961 !important;
}
.RadGrid a.aspNetDisabled, .RadGrid a.aspNetDisabled:hover, .RadGrid a.aspNetDisabled:focus, .RadGrid a.aspNetDisabled:active, .RadGrid a.aspNetDisabled:visited, .RadToolTip a.aspNetDisabled, .RadToolTip a.aspNetDisabled:hover, .RadToolTip a.aspNetDisabled:focus, .RadToolTip a.aspNetDisabled:active, .RadToolTip a.aspNetDisabled:visited {
  color: #999999 !important;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1, .h1, .PageTitle,
h2, .h2, .PanelTitle {
  font-family: inherit;
  font-weight: 600;
  color: inherit;
}

h1, .h1, .PageTitle {
  margin-top: 0;
}

h1, .h1, .PageTitle {
  color: #333;
  font-size: 250%;
}

h1.BigHeader, .h1.BigHeader {
  color: #fff;
  background-color: #5dae3f;
  padding: 20px;
  margin: 0;
}

h2, .PanelTitle {
  line-height: 1.45em;
  font-size: 150%;
}

h2,
.h2,
.PanelHead.Distinguish,
.TitleBarCaption,
div.PanelTitle,
.panel-heading.Distinguish {
  min-height: 0;
  border-bottom-style: solid;
}

h4, .SectionLabel, h5 {
  margin: 0 0 .2em;
}

h4, .h4, .SectionLabel {
  color: #333;
}

h5, .h5 {
  color: #333;
}

h6, .h6 {
  margin: 0;
}

hr {
  margin-left: .5em;
  margin-right: .5em;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ddd;
}

.StandardPanel,
.ContentBorder,
h2,
.PanelHead.Distinguish,
.TitleBarCaption,
div.ShowFieldset fieldset,
.panel-border,
.panel-heading.Distinguish {
  border-color: #ddd;
}

.PanelHead.Distinguish .PanelHeadOptions,
.panel-heading.Distinguish .panel-head-options {
  margin-top: .6em;
}

/* Used for messages guiding users to the next step */
.HelperText {
  color: #0064cd;
}

/* This gives certain selected items (e.g., in the PeoplePanel in the Event Showcase) a colored background */
.SelectedItem {
  background-color: #a5dced;
}

/**
 * This automatically resizes images when they're too large to fit in their container. 
 * It may override any user-defined width/height on images. If the behavior is unwanted, 
 * consider changing this declaration to a class (e.g. '.img-responsive') which you can 
 * apply as desired.
 */
img {
  max-width: 100%;
  height: auto !important;
}

/* Give a block of text some extra emphasis.
 * This class also makes the text larger, per UltraWave styles */
.lead {
  margin-bottom: 20px;
}

input,
button,
select,
textarea {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 32px;
  padding: 5px 10px;
  font-size: 100%;
  line-height: 1.428571429;
  color: #555555;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
select:-moz-placeholder,
textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="color"]:-moz-placeholder,
.uneditable-input:-moz-placeholder {
  color: #999999;
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.uneditable-input::-moz-placeholder {
  color: #999999;
}
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.uneditable-input:-ms-input-placeholder {
  color: #999999;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.uneditable-input::-webkit-input-placeholder {
  color: #999999;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

textarea {
  height: auto;
}

select {
  border: 1px solid #ccc;
  background-color: #fff;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */
/* set up button base styles */
.btn,
.TextButton,
.TextButtonWithImage,
.RadUpload .ruButton,
.RadUploadProgressArea .ruButton,
#masterHeaderActionArea a {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: normal;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
.btn:focus,
.TextButton:focus,
.TextButtonWithImage:focus,
.RadUpload .ruButton:focus,
.RadUploadProgressArea .ruButton:focus,
#masterHeaderActionArea a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover, .btn:focus, .btn:visited,
.TextButton:hover,
.TextButton:focus,
.TextButton:visited,
.TextButtonWithImage:hover,
.TextButtonWithImage:focus,
.TextButtonWithImage:visited,
.RadUpload .ruButton:hover,
.RadUpload .ruButton:focus,
.RadUpload .ruButton:visited,
.RadUploadProgressArea .ruButton:hover,
.RadUploadProgressArea .ruButton:focus,
.RadUploadProgressArea .ruButton:visited,
#masterHeaderActionArea a:hover,
#masterHeaderActionArea a:focus,
#masterHeaderActionArea a:visited {
  color: #fff;
  text-decoration: none;
}
.btn:active, .btn.active,
.TextButton:active,
.TextButton.active,
.TextButtonWithImage:active,
.TextButtonWithImage.active,
.RadUpload .ruButton:active,
.RadUpload .ruButton.active,
.RadUploadProgressArea .ruButton:active,
.RadUploadProgressArea .ruButton.active,
#masterHeaderActionArea a:active,
#masterHeaderActionArea a.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn, .btn.aspNetDisabled,
.TextButton.disabled,
.TextButton[disabled], fieldset[disabled]
.TextButton,
.TextButton.aspNetDisabled,
.TextButtonWithImage.disabled,
.TextButtonWithImage[disabled], fieldset[disabled]
.TextButtonWithImage,
.TextButtonWithImage.aspNetDisabled,
.RadUpload .ruButton.disabled,
.RadUpload .ruButton[disabled], fieldset[disabled]
.RadUpload .ruButton,
.RadUpload .ruButton.aspNetDisabled,
.RadUploadProgressArea .ruButton.disabled,
.RadUploadProgressArea .ruButton[disabled], fieldset[disabled]
.RadUploadProgressArea .ruButton,
.RadUploadProgressArea .ruButton.aspNetDisabled,
#masterHeaderActionArea a.disabled,
#masterHeaderActionArea a[disabled], fieldset[disabled]
#masterHeaderActionArea a,
#masterHeaderActionArea a.aspNetDisabled {
  pointer-events: none;
  opacity: 0.55;
  filter: alpha(opacity=55.0);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* default button */
.btn,
.TextButton,
.TextButtonWithImage,
.ruButton,
#masterHeaderActionArea a,
.RadGrid input.TextButton {
  color: #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0096c7), to(#008ab7));
  background-image: -webkit-linear-gradient(top, #0096c7 0%, #008ab7 100%);
  background-image: -moz-linear-gradient(top, #0096c7 0%, #008ab7 100%);
  background-image: linear-gradient(to bottom, #0096c7 0%, #008ab7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0096C7', endColorstr='#FF008AB7', GradientType=0);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
  border-width: 0;
}
.btn:hover, .btn:focus, .btn:active, .btn:visited,
.TextButton:hover,
.TextButton:focus,
.TextButton:active,
.TextButton:visited,
.TextButtonWithImage:hover,
.TextButtonWithImage:focus,
.TextButtonWithImage:active,
.TextButtonWithImage:visited,
.ruButton:hover,
.ruButton:focus,
.ruButton:active,
.ruButton:visited,
#masterHeaderActionArea a:hover,
#masterHeaderActionArea a:focus,
#masterHeaderActionArea a:active,
#masterHeaderActionArea a:visited,
.RadGrid input.TextButton:hover,
.RadGrid input.TextButton:focus,
.RadGrid input.TextButton:active,
.RadGrid input.TextButton:visited {
  color: #fff;
  background-color: #00779e;
  border-color: transparent;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0083ad), to(#00779e));
  background-image: -webkit-linear-gradient(top, #0083ad 0%, #00779e 100%);
  background-image: -moz-linear-gradient(top, #0083ad 0%, #00779e 100%);
  background-image: linear-gradient(to bottom, #0083ad 0%, #00779e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0083AD', endColorstr='#FF00779E', GradientType=0);
}
.btn:active,
.TextButton:active,
.TextButtonWithImage:active,
.ruButton:active,
#masterHeaderActionArea a:active,
.RadGrid input.TextButton:active {
  background-image: none;
}
.btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled]:active, fieldset[disabled] .btn, fieldset[disabled] .btn:hover, fieldset[disabled] .btn:focus, fieldset[disabled] .btn:active, .btn.aspNetDisabled, .btn.aspNetDisabled:hover, .btn.aspNetDisabled:focus, .btn.aspNetDisabled:active,
.TextButton[disabled],
.TextButton[disabled]:hover,
.TextButton[disabled]:focus,
.TextButton[disabled]:active, fieldset[disabled]
.TextButton, fieldset[disabled]
.TextButton:hover, fieldset[disabled]
.TextButton:focus, fieldset[disabled]
.TextButton:active,
.TextButton.aspNetDisabled,
.TextButton.aspNetDisabled:hover,
.TextButton.aspNetDisabled:focus,
.TextButton.aspNetDisabled:active,
.TextButtonWithImage[disabled],
.TextButtonWithImage[disabled]:hover,
.TextButtonWithImage[disabled]:focus,
.TextButtonWithImage[disabled]:active, fieldset[disabled]
.TextButtonWithImage, fieldset[disabled]
.TextButtonWithImage:hover, fieldset[disabled]
.TextButtonWithImage:focus, fieldset[disabled]
.TextButtonWithImage:active,
.TextButtonWithImage.aspNetDisabled,
.TextButtonWithImage.aspNetDisabled:hover,
.TextButtonWithImage.aspNetDisabled:focus,
.TextButtonWithImage.aspNetDisabled:active,
.ruButton[disabled],
.ruButton[disabled]:hover,
.ruButton[disabled]:focus,
.ruButton[disabled]:active, fieldset[disabled]
.ruButton, fieldset[disabled]
.ruButton:hover, fieldset[disabled]
.ruButton:focus, fieldset[disabled]
.ruButton:active,
.ruButton.aspNetDisabled,
.ruButton.aspNetDisabled:hover,
.ruButton.aspNetDisabled:focus,
.ruButton.aspNetDisabled:active,
#masterHeaderActionArea a[disabled],
#masterHeaderActionArea a[disabled]:hover,
#masterHeaderActionArea a[disabled]:focus,
#masterHeaderActionArea a[disabled]:active, fieldset[disabled]
#masterHeaderActionArea a, fieldset[disabled]
#masterHeaderActionArea a:hover, fieldset[disabled]
#masterHeaderActionArea a:focus, fieldset[disabled]
#masterHeaderActionArea a:active,
#masterHeaderActionArea a.aspNetDisabled,
#masterHeaderActionArea a.aspNetDisabled:hover,
#masterHeaderActionArea a.aspNetDisabled:focus,
#masterHeaderActionArea a.aspNetDisabled:active,
.RadGrid input.TextButton[disabled],
.RadGrid input.TextButton[disabled]:hover,
.RadGrid input.TextButton[disabled]:focus,
.RadGrid input.TextButton[disabled]:active, fieldset[disabled]
.RadGrid input.TextButton, fieldset[disabled]
.RadGrid input.TextButton:hover, fieldset[disabled]
.RadGrid input.TextButton:focus, fieldset[disabled]
.RadGrid input.TextButton:active,
.RadGrid input.TextButton.aspNetDisabled,
.RadGrid input.TextButton.aspNetDisabled:hover,
.RadGrid input.TextButton.aspNetDisabled:focus,
.RadGrid input.TextButton.aspNetDisabled:active {
  background-color: #0096c7;
  border-color: transparent;
}

/* some Telerik overrides */
.ruButton {
  background-color: #0096c7 !important;
  color: #fff !important;
  cursor: pointer;
}

.RadUpload .ruBrowse {
  height: auto !important;
  padding: 5px 10px !important;
  line-height: 1.428571429 !important;
}

/* primary button */
.PrimaryButton,
.SaveAndClose,
.SaveAs,
.UsePrimaryButton .TextButton,
.UsePrimaryButton .TextButtonWithImage,
#masterHeaderActionArea a,
.RadGrid input.PrimaryButton {
  color: #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e98300), to(#da7a00));
  background-image: -webkit-linear-gradient(top, #e98300 0%, #da7a00 100%);
  background-image: -moz-linear-gradient(top, #e98300 0%, #da7a00 100%);
  background-image: linear-gradient(to bottom, #e98300 0%, #da7a00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE98300', endColorstr='#FFDA7A00', GradientType=0);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
  border-width: 0;
}
.PrimaryButton:hover, .PrimaryButton:focus, .PrimaryButton:active, .PrimaryButton:visited,
.SaveAndClose:hover,
.SaveAndClose:focus,
.SaveAndClose:active,
.SaveAndClose:visited,
.SaveAs:hover,
.SaveAs:focus,
.SaveAs:active,
.SaveAs:visited,
.UsePrimaryButton .TextButton:hover,
.UsePrimaryButton .TextButton:focus,
.UsePrimaryButton .TextButton:active,
.UsePrimaryButton .TextButton:visited,
.UsePrimaryButton .TextButtonWithImage:hover,
.UsePrimaryButton .TextButtonWithImage:focus,
.UsePrimaryButton .TextButtonWithImage:active,
.UsePrimaryButton .TextButtonWithImage:visited,
#masterHeaderActionArea a:hover,
#masterHeaderActionArea a:focus,
#masterHeaderActionArea a:active,
#masterHeaderActionArea a:visited,
.RadGrid input.PrimaryButton:hover,
.RadGrid input.PrimaryButton:focus,
.RadGrid input.PrimaryButton:active,
.RadGrid input.PrimaryButton:visited {
  color: #fff;
  background-color: #c06c00;
  border-color: transparent;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d07500), to(#c06c00));
  background-image: -webkit-linear-gradient(top, #d07500 0%, #c06c00 100%);
  background-image: -moz-linear-gradient(top, #d07500 0%, #c06c00 100%);
  background-image: linear-gradient(to bottom, #d07500 0%, #c06c00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD07500', endColorstr='#FFC06C00', GradientType=0);
}
.PrimaryButton:active,
.SaveAndClose:active,
.SaveAs:active,
.UsePrimaryButton .TextButton:active,
.UsePrimaryButton .TextButtonWithImage:active,
#masterHeaderActionArea a:active,
.RadGrid input.PrimaryButton:active {
  background-image: none;
}
.PrimaryButton[disabled], .PrimaryButton[disabled]:hover, .PrimaryButton[disabled]:focus, .PrimaryButton[disabled]:active, fieldset[disabled] .PrimaryButton, fieldset[disabled] .PrimaryButton:hover, fieldset[disabled] .PrimaryButton:focus, fieldset[disabled] .PrimaryButton:active, .PrimaryButton.aspNetDisabled, .PrimaryButton.aspNetDisabled:hover, .PrimaryButton.aspNetDisabled:focus, .PrimaryButton.aspNetDisabled:active,
.SaveAndClose[disabled],
.SaveAndClose[disabled]:hover,
.SaveAndClose[disabled]:focus,
.SaveAndClose[disabled]:active, fieldset[disabled]
.SaveAndClose, fieldset[disabled]
.SaveAndClose:hover, fieldset[disabled]
.SaveAndClose:focus, fieldset[disabled]
.SaveAndClose:active,
.SaveAndClose.aspNetDisabled,
.SaveAndClose.aspNetDisabled:hover,
.SaveAndClose.aspNetDisabled:focus,
.SaveAndClose.aspNetDisabled:active,
.SaveAs[disabled],
.SaveAs[disabled]:hover,
.SaveAs[disabled]:focus,
.SaveAs[disabled]:active, fieldset[disabled]
.SaveAs, fieldset[disabled]
.SaveAs:hover, fieldset[disabled]
.SaveAs:focus, fieldset[disabled]
.SaveAs:active,
.SaveAs.aspNetDisabled,
.SaveAs.aspNetDisabled:hover,
.SaveAs.aspNetDisabled:focus,
.SaveAs.aspNetDisabled:active,
.UsePrimaryButton .TextButton[disabled],
.UsePrimaryButton .TextButton[disabled]:hover,
.UsePrimaryButton .TextButton[disabled]:focus,
.UsePrimaryButton .TextButton[disabled]:active, fieldset[disabled]
.UsePrimaryButton .TextButton, fieldset[disabled]
.UsePrimaryButton .TextButton:hover, fieldset[disabled]
.UsePrimaryButton .TextButton:focus, fieldset[disabled]
.UsePrimaryButton .TextButton:active,
.UsePrimaryButton .TextButton.aspNetDisabled,
.UsePrimaryButton .TextButton.aspNetDisabled:hover,
.UsePrimaryButton .TextButton.aspNetDisabled:focus,
.UsePrimaryButton .TextButton.aspNetDisabled:active,
.UsePrimaryButton .TextButtonWithImage[disabled],
.UsePrimaryButton .TextButtonWithImage[disabled]:hover,
.UsePrimaryButton .TextButtonWithImage[disabled]:focus,
.UsePrimaryButton .TextButtonWithImage[disabled]:active, fieldset[disabled]
.UsePrimaryButton .TextButtonWithImage, fieldset[disabled]
.UsePrimaryButton .TextButtonWithImage:hover, fieldset[disabled]
.UsePrimaryButton .TextButtonWithImage:focus, fieldset[disabled]
.UsePrimaryButton .TextButtonWithImage:active,
.UsePrimaryButton .TextButtonWithImage.aspNetDisabled,
.UsePrimaryButton .TextButtonWithImage.aspNetDisabled:hover,
.UsePrimaryButton .TextButtonWithImage.aspNetDisabled:focus,
.UsePrimaryButton .TextButtonWithImage.aspNetDisabled:active,
#masterHeaderActionArea a[disabled],
#masterHeaderActionArea a[disabled]:hover,
#masterHeaderActionArea a[disabled]:focus,
#masterHeaderActionArea a[disabled]:active, fieldset[disabled]
#masterHeaderActionArea a, fieldset[disabled]
#masterHeaderActionArea a:hover, fieldset[disabled]
#masterHeaderActionArea a:focus, fieldset[disabled]
#masterHeaderActionArea a:active,
#masterHeaderActionArea a.aspNetDisabled,
#masterHeaderActionArea a.aspNetDisabled:hover,
#masterHeaderActionArea a.aspNetDisabled:focus,
#masterHeaderActionArea a.aspNetDisabled:active,
.RadGrid input.PrimaryButton[disabled],
.RadGrid input.PrimaryButton[disabled]:hover,
.RadGrid input.PrimaryButton[disabled]:focus,
.RadGrid input.PrimaryButton[disabled]:active, fieldset[disabled]
.RadGrid input.PrimaryButton, fieldset[disabled]
.RadGrid input.PrimaryButton:hover, fieldset[disabled]
.RadGrid input.PrimaryButton:focus, fieldset[disabled]
.RadGrid input.PrimaryButton:active,
.RadGrid input.PrimaryButton.aspNetDisabled,
.RadGrid input.PrimaryButton.aspNetDisabled:hover,
.RadGrid input.PrimaryButton.aspNetDisabled:focus,
.RadGrid input.PrimaryButton.aspNetDisabled:active {
  background-color: #e98300;
  border-color: transparent;
}

/* Facebook sign in button */
.TextButton.Facebook {
  color: #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3B5998), to(#37538d));
  background-image: -webkit-linear-gradient(top, #3B5998 0%, #37538d 100%);
  background-image: -moz-linear-gradient(top, #3B5998 0%, #37538d 100%);
  background-image: linear-gradient(to bottom, #3B5998 0%, #37538d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3B5998', endColorstr='#FF37538D', GradientType=0);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
  border-width: 0;
}
.TextButton.Facebook:hover, .TextButton.Facebook:focus, .TextButton.Facebook:active, .TextButton.Facebook:visited {
  color: #fff;
  background-color: #30487b;
  border-color: transparent;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#344e86), to(#30487b));
  background-image: -webkit-linear-gradient(top, #344e86 0%, #30487b 100%);
  background-image: -moz-linear-gradient(top, #344e86 0%, #30487b 100%);
  background-image: linear-gradient(to bottom, #344e86 0%, #30487b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF344E86', endColorstr='#FF30487B', GradientType=0);
}
.TextButton.Facebook:active {
  background-image: none;
}
.TextButton.Facebook[disabled], .TextButton.Facebook[disabled]:hover, .TextButton.Facebook[disabled]:focus, .TextButton.Facebook[disabled]:active, fieldset[disabled] .TextButton.Facebook, fieldset[disabled] .TextButton.Facebook:hover, fieldset[disabled] .TextButton.Facebook:focus, fieldset[disabled] .TextButton.Facebook:active, .TextButton.Facebook.aspNetDisabled, .TextButton.Facebook.aspNetDisabled:hover, .TextButton.Facebook.aspNetDisabled:focus, .TextButton.Facebook.aspNetDisabled:active {
  background-color: #3B5998;
  border-color: transparent;
}

.SignInButton.Facebook {
  line-height: 1.7142857143;
}

.MediumButton,
.UseMediumButton .TextButton,
.UseMediumButton .TextButtonWithImage {
  font-size: 120% !important;
  padding: 9px 14px !important;
  border-radius: 8px;
}

.LargeButton,
.UseLargeButton .TextButton,
.UseLargeButton .TextButtonWithImage {
  font-size: 150% !important;
  padding: 12px 17px !important;
  border-radius: 11px;
}

.CalloutArea1 .btn.PrimaryButton,
.CalloutArea1 .TextButton.PrimaryButton,
.CalloutArea1 .TextButtonWithImage.PrimaryButton,
.CalloutArea2 .btn.PrimaryButton,
.CalloutArea2 .TextButton.PrimaryButton,
.CalloutArea2 .TextButtonWithImage.PrimaryButton {
  color: #fff;
  background-color: #003a4d;
}
.CalloutArea1 .btn.PrimaryButton:hover, .CalloutArea1 .btn.PrimaryButton:active, .CalloutArea1 .btn.PrimaryButton:focus,
.CalloutArea1 .TextButton.PrimaryButton:hover,
.CalloutArea1 .TextButton.PrimaryButton:active,
.CalloutArea1 .TextButton.PrimaryButton:focus,
.CalloutArea1 .TextButtonWithImage.PrimaryButton:hover,
.CalloutArea1 .TextButtonWithImage.PrimaryButton:active,
.CalloutArea1 .TextButtonWithImage.PrimaryButton:focus,
.CalloutArea2 .btn.PrimaryButton:hover,
.CalloutArea2 .btn.PrimaryButton:active,
.CalloutArea2 .btn.PrimaryButton:focus,
.CalloutArea2 .TextButton.PrimaryButton:hover,
.CalloutArea2 .TextButton.PrimaryButton:active,
.CalloutArea2 .TextButton.PrimaryButton:focus,
.CalloutArea2 .TextButtonWithImage.PrimaryButton:hover,
.CalloutArea2 .TextButtonWithImage.PrimaryButton:active,
.CalloutArea2 .TextButtonWithImage.PrimaryButton:focus {
  color: #fff;
  background-color: #000c0f;
}

/* ==========================================================================
   ORION THEME STYLES
   ========================================================================== */
/* Headings
   ========================================================================== */
/* make h2s match up with panel headings */
h2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.Distinguish .panel-heading-options,
.TitleBarCaption .InLineOption_Controls_Always_Display {
  margin-top: 7px;
}

.panel-heading-options .IconSprite,
.panel-heading-options .panel-heading-collapse-img {
  margin-left: 4px;
  margin-right: 4px;
  margin-right: 0;
}

.panel-heading-collapse-img,
.PanelHeadCollapseImage {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.panel-heading-collapse-img:hover,
.PanelHeadCollapseImage:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Boxed style
   ========================================================================== */
.GridCardStyle .RadGrid.RadGrid .rgRow, .GridCardStyle .RadGrid.RadGrid .rgAltRow {
  border-radius: 3px;
}

.GridCardStyle .RadGrid.RadGrid .rgRow:hover, .GridCardStyle .RadGrid.RadGrid .rgAltRow:hover, .Alerts .AlertSet,
.panel-border,
.panel-group .panel,
.ContentBorder,
.WizardDisplay,
.ContentTabbedDisplay,
.TagBrowserWrapper {
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
}

.WizardDisplay,
.ContentTabbedDisplay,
.TagBrowserWrapper {
  border-radius: 0 0 3px 3px;
}

.TagBrowserWrapper {
  border: 1px solid #ddd;
}

/* Alt background colors
   ========================================================================== */
.AltBgColor2 > .panel,
.AltBgColor3 > .panel,
.AltBgColor4 > .panel,
.AltBgColor5 > .panel {
  color: #fff;
}
.AltBgColor2 > .panel a, .AltBgColor2 > .panel a:hover, .AltBgColor2 > .panel a:active, .AltBgColor2 > .panel a:focus, .AltBgColor2 > .panel a:visited,
.AltBgColor3 > .panel a,
.AltBgColor3 > .panel a:hover,
.AltBgColor3 > .panel a:active,
.AltBgColor3 > .panel a:focus,
.AltBgColor3 > .panel a:visited,
.AltBgColor4 > .panel a,
.AltBgColor4 > .panel a:hover,
.AltBgColor4 > .panel a:active,
.AltBgColor4 > .panel a:focus,
.AltBgColor4 > .panel a:visited,
.AltBgColor5 > .panel a,
.AltBgColor5 > .panel a:hover,
.AltBgColor5 > .panel a:active,
.AltBgColor5 > .panel a:focus,
.AltBgColor5 > .panel a:visited {
  color: #fff;
  text-decoration: underline;
}
.AltBgColor2 > .panel .ProgressBar > span,
.AltBgColor3 > .panel .ProgressBar > span,
.AltBgColor4 > .panel .ProgressBar > span,
.AltBgColor5 > .panel .ProgressBar > span {
  /* Make the progress tracker indicator use a white bar instead of default */
  background-color: #fff;
}

.AltBgColor2 > .panel {
  background-color: #00abbe;
}
.AltBgColor2 > .panel.panel-border {
  border-color: #0094a5;
}

.AltBgColor3 > .panel {
  background-color: #5dae3f;
}
.AltBgColor3 > .panel.panel-border {
  border-color: #539b38;
}

.AltBgColor4 > .panel {
  background-color: #e98300;
}
.AltBgColor4 > .panel.panel-border {
  border-color: #d07500;
}

.AltBgColor5 > .panel {
  background-color: #8e51ae;
}
.AltBgColor5 > .panel.panel-border {
  border-color: #80499d;
}

/* Styled grids
   ========================================================================== */
/* Use iPart class "SearchResultsCards" to display card-style search results */
.GridCardStyle .RadGrid.RadGrid {
  background-color: transparent;
  border: none;
}
.GridCardStyle .RadGrid.RadGrid .rgRow, .GridCardStyle .RadGrid.RadGrid .rgAltRow {
  display: block;
  margin-bottom: 1em;
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 3px;
}
.GridCardStyle .RadGrid.RadGrid .rgRow:hover, .GridCardStyle .RadGrid.RadGrid .rgAltRow:hover {
  border-color: #ddd;
}
.GridCardStyle .RadGrid.RadGrid .rgRow td, .GridCardStyle .RadGrid.RadGrid .rgAltRow td {
  border: none;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.GridCardStyle .panel-border .RadGrid.RadGrid .rgRow, .GridCardStyle .panel-border .RadGrid.RadGrid .rgAltRow {
  background-color: #f5f5f5;
}

/* Alerts
   ========================================================================== */
.Alerts .AlertItem {
  background-color: #fff;
}

/* Icons
   ========================================================================== */
/* Add, edit, delete, etc. */
.IconSprite,
.DeleteImage,
.EditImage,
.ArrowUp,
.ArrowUpOff,
.ArrowDown,
.ArrowDownOff {
  background-image: url("images/IconSprite.png");
}

.dropdown .caret, .sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtIn:before, .sub-nav-body .RadTreeView_Orion .rtPlus:before, .sub-nav-body .RadTreeView_Orion .rtMinus:before, .obo-toggle:before,
.SurfEdit:before,
.nav-aux-button a:before,
.search-toggle:before, .header-search > .header-search:before {
  background-image: url("images/NavSprite.png");
  background-repeat: no-repeat;
  content: '';
  display: block;
}
@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .dropdown .caret, .sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtIn:before, .sub-nav-body .RadTreeView_Orion .rtPlus:before, .sub-nav-body .RadTreeView_Orion .rtMinus:before, .obo-toggle:before,
  .SurfEdit:before,
  .nav-aux-button a:before,
  .search-toggle:before, .header-search > .header-search:before {
    background-image: url("images/NavSprite@2x.png");
    background-size: 416px 24px;
  }
}

.dropdown .caret, .sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtIn:before, .sub-nav-body .RadTreeView_Orion .rtPlus:before, .sub-nav-body .RadTreeView_Orion .rtMinus:before {
  width: 16px;
  height: 16px;
}

.obo-toggle:before,
.SurfEdit:before,
.nav-aux-button a:before,
.search-toggle:before, .header-search > .header-search:before {
  width: 24px;
  height: 24px;
  margin: 5px;
}

.dropdown .caret {
  border: none;
  display: inline-block;
  background-position: -208px 0;
}

/* Staff sign in page
   ========================================================================== */
.page-sign-in .col-secondary, .page-sign-in .header {
  display: none;
}
.page-sign-in .col-primary, .page-sign-in .footer {
  margin-left: 0;
}

.SignInPusher {
  min-height: 10vh;
}
@media (min-width: 768px) {
  .SignInPusher {
    min-height: 20vh;
  }
}
.no-mqs .SignInPusher {
  min-height: 20vh;
}

.SignInPage .panel-heading.Distinguish {
  border-bottom: none;
  text-align: center;
  padding-bottom: 0;
}
.SignInPage .TextButton {
  margin-bottom: 1em;
}

.PersonDisplay.SelectedItem a, .PersonDisplay.SelectedItem a:hover, .PersonDisplay.SelectedItem a:focus, .PersonDisplay.SelectedItem a:active {
  color: #333;
}

/* Banner images
   ========================================================================== */
/* Support background image with text overlay */
.bg-img-conference-tall {
  background-color: #081337;
  background-image: url("../../images/SampleSites/conferencebannertall.jpg");
}

.bg-img-conference-small {
  background-color: #081337;
  background-image: url("../../images/SampleSites/Member/cairnsnight.jpg");
}

.bg-img-tiger-tall {
  background-color: #04080B;
  background-image: url("../../images/ImageLibrary/tiger-tall.jpg");
  background-position: center center;
}

.banner-tall, .banner-short {
  text-decoration: none;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
.banner-tall, .banner-tall:visited, .banner-tall:active, .banner-tall:hover, .banner-tall:focus, .banner-tall h2, .banner-short, .banner-short:visited, .banner-short:active, .banner-short:hover, .banner-short:focus, .banner-short h2 {
  color: #fff;
}

.banner-text h2 {
  font-size: 100%;
}

.banner-tall {
  height: 500px;
  max-width: 300px;
}
.banner-tall .banner-text {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0 0 5px 5px;
}

.banner-short {
  min-height: 150px;
  max-width: 300px;
}
.banner-short .banner-text {
  padding: 5px;
  min-height: 150px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Other
   ========================================================================== */
/* Green badges, currently used for the PLUS indicator */
.PlusLink:after,
.PlusFeature label:after {
  background-color: #5dae3f;
}

/* ==========================================================================
   HEADER NAVIGATION
   ========================================================================== */
.header {
  min-height: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.obo-on .header {
  background-color: #e98300;
}

/* Toggles and auxiliary navigation
   ========================================================================== */
.account-menu > li > a,
.header .NavigationUnorderedList > li > a {
  font-weight: 600;
  display: inline-block;
  /* make sure the top & bottom padding make it exactly the height of the header bar */
  padding: 15px 10px;
}
.account-menu > li > a, .account-menu > li > a:hover, .account-menu > li > a:visited, .account-menu > li > a:active,
.header .NavigationUnorderedList > li > a,
.header .NavigationUnorderedList > li > a:hover,
.header .NavigationUnorderedList > li > a:visited,
.header .NavigationUnorderedList > li > a:active {
  text-decoration: none;
  color: #333;
}

.account-menu > li > a:hover, .account-menu > li > a:focus, .account-menu > li > a:active,
.header .NavigationUnorderedList > li > a:hover,
.header .NavigationUnorderedList > li > a:focus,
.header .NavigationUnorderedList > li > a:active,
.EnableSurfToEditButton:hover,
.EnableSurfToEditButton:focus,
.EnableSurfToEditButton:active,
.navbar-toggle:hover,
.navbar-toggle:focus,
.navbar-toggle:active {
  /* need to provide a fallback color for IE8, which doesn't support rgba */
  background-color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.05);
}

.SurfEdit,
.navbar-toggle,
.obo-toggle,
.nav-aux-button a {
  border-radius: 5px;
  border: none !important;
  vertical-align: middle;
}

.SurfEdit,
.navbar-toggle,
.obo-toggle,
.nav-aux-button .nav-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.nav-expanded .primary-nav-toggle,
.search-dropdown.open .search-toggle,
.DisableSurfToEditButton,
.obo-toggle.on {
  background-color: #003a4d;
}
.nav-expanded .primary-nav-toggle:hover, .nav-expanded .primary-nav-toggle:focus, .nav-expanded .primary-nav-toggle:active,
.search-dropdown.open .search-toggle:hover,
.search-dropdown.open .search-toggle:focus,
.search-dropdown.open .search-toggle:active,
.DisableSurfToEditButton:hover,
.DisableSurfToEditButton:focus,
.DisableSurfToEditButton:active,
.obo-toggle.on:hover,
.obo-toggle.on:focus,
.obo-toggle.on:active {
  background-color: #005875;
}

.navbar-toggle {
  margin-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
}

.primary-nav-toggle .icon-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
}
.nav-expanded .primary-nav-toggle .icon-bar {
  background-color: #fff;
}

.obo-toggle,
.SurfEdit,
.nav-aux-button a,
.search-toggle {
  padding: 0 !important;
  background-image: none;
  width: 34px;
  height: 34px;
}
.obo-toggle:hover, .obo-toggle:focus, .obo-toggle:active,
.SurfEdit:hover,
.SurfEdit:focus,
.SurfEdit:active,
.nav-aux-button a:hover,
.nav-aux-button a:focus,
.nav-aux-button a:active,
.search-toggle:hover,
.search-toggle:focus,
.search-toggle:active {
  border: none !important;
}

.obo-toggle:before {
  background-position: -224px 0;
}
.obo-toggle.on:before {
  background-position: -248px 0;
}

.SurfEdit:before {
  background-position: -272px 0;
}
.SurfEdit.DisableSurfToEditButton:before {
  background-position: -296px 0;
}

.nav-aux-cart a:before {
  background-position: -320px 0;
}

.search-toggle:before {
  background-position: -344px 0;
}
.open .search-toggle:before {
  background-position: -368px 0;
}

/* set up the header search magnifying glass icon */
.header-search > .header-search {
  position: relative;
}
.header-search > .header-search:before {
  position: absolute;
  background-position: -392px 0;
  margin-top: 13px;
  margin-bottom: 13px;
}
.header-search > .header-search .search-field {
  padding-left: 31px;
}

/* Badges
   ========================================================================== */
/* Badges indicate numbers like the number of items in your cart */
/* By default, put parentheses around the cart item count.
 * This is overwritten when the class "nav-aux-cart" is applied.
 */
.cartCenter span:before {
  content: '(';
}
.cartCenter span:after {
  content: ')';
}

.nav-aux-cart a {
  position: relative;
}
.nav-aux-cart .nav-text + span {
  /* Position the badge */
  position: absolute;
  top: -2px;
  right: -1px;
  text-align: center;
  min-width: 1.5em;
}
.nav-aux-cart .cartCenter {
  /* Style the badge */
  color: #fff;
  background-color: #5dae3f;
  border-radius: 2px;
  font-size: 78%;
  line-height: 1;
  padding: 0 2px 1px;
  -webkit-box-shadow: -1px 1px 0 rgba(34, 34, 34, 0.6);
  box-shadow: -1px 1px 0 rgba(34, 34, 34, 0.6);
}
.nav-aux-cart .cartCenter span:before, .nav-aux-cart .cartCenter span:after {
  /* Clear the parentheses put around the item count by default */
  content: none;
}

/* Dropdowns
   ========================================================================== */
/* Dropdowns are used for the account area and the search toggle */
@media (max-width: 767px) {
  .search-dropdown,
  .account-menu > .dropdown {
    /* this is necessary to allow the search box to span the full width */
    position: static;
  }
  .search-dropdown > .dropdown-menu,
  .account-menu > .dropdown > .dropdown-menu {
    width: 100%;
  }
}

/* Account area
   ========================================================================== */
.account-menu .obo-actions a {
  text-decoration: none;
}
@media (max-width: 767px) {
  .account-menu .obo-actions > li:first-child {
    display: block;
    white-space: normal;
    margin-bottom: .2em;
  }
}

.account-menu .profile-picture-wrapper {
  width: 34px;
}
.obo-on .account-menu .profile-picture-wrapper {
  width: 38px;
}
.account-menu .profile-picture-wrapper img {
  width: 34px;
  height: 34px;
  top: 8px;
  border-radius: 5px;
}
.account-menu .profile-picture-wrapper .picture-secondary {
  width: 18px;
  height: 18px;
  left: 30px;
  bottom: 3px;
  border: 2px solid #e98300;
  border-radius: 3px;
}

.account-toggle .nav-text {
  margin-left: 42px;
  display: inline-block;
  max-width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
}
@media (max-width: 991px) {
  .account-menu > li > .account-toggle {
    padding-left: 5px;
    padding-right: 5px;
  }
  .account-menu > li > .account-toggle:hover {
    background-color: transparent;
  }
  .account-toggle .nav-text {
    margin-left: 0;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  .account-toggle .caret {
    display: none;
  }
  .open .account-toggle .picture-primary {
    -webkit-box-shadow: 0 0 0 3px #003a4d;
    box-shadow: 0 0 0 3px #003a4d;
  }
}

/* Search
   ========================================================================== */
.search-field {
  margin-top: 9px;
  margin-bottom: 9px;
}
.search-field.Watermarked {
  color: #999999;
}

.header-search-submit {
  display: none;
}

.navbar-left .header-search .search-field {
  width: 22em;
}
@media (max-width: 767px) {
  .navbar-left .header-search {
    /* This is the search bar on the left - only displayed on large screens*/
    display: none;
  }
}

.search-dropdown {
  display: inline-block;
  vertical-align: bottom;
}
.search-dropdown .dropdown-menu > .header-search {
  padding: 3px 20px;
}
.search-dropdown .search-field {
  width: 100%;
}
@media (min-width: 768px) {
  .search-dropdown {
    display: none;
  }
}
.no-mqs .search-dropdown {
  display: none;
}

/* ==========================================================================
   PRIMARY NAVIGATION
   ========================================================================== */
/* Logo
   ========================================================================== */
.logo {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  display: block;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 50px;
}
@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .logo {
    background-image: url("images/logo@2x.png");
    background-size: 110px 35px;
  }
}

/* Navigation Tree
   ========================================================================== */
.col-secondary,
.sub-nav-body {
  background-color: #003a4d;
}

.sub-nav-body .RadTreeView_Orion .rtIn {
  margin: 0;
  border: none;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI {
  width: 100%;
  margin-bottom: 0;
  position: relative;
  white-space: normal;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI .rtSp {
  display: none;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI .rtIn {
  color: #fff;
  display: block;
}
.sub-nav-body .RadTreeView_Orion .rtHover .rtIn, .sub-nav-body .RadTreeView_Orion .rtSelected .rtIn {
  border: none;
}

.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI:hover > div,
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > .rtActive,
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > .rtSelected,
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > .child-is-selected-wrapper {
  background-color: #002633;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div {
  padding: 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtIn {
  padding: 10px 36px 10px 12px;
  font-weight: 600 !important;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI div.SubNavigationSeparator {
  margin: .5em .7em;
  padding: 0;
  border-bottom: 1px solid #9cbec9;
  border-bottom: 1px solid rgba(156, 190, 201, 0.45);
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI div.SubNavigationSeparator .rtIn {
  display: none;
}

.sub-nav-body .RadTreeView_Orion ul.rtUL ul.rtUL {
  background-color: #002633;
  padding: 5px 0;
}
.sub-nav-body .RadTreeView_Orion ul.rtUL ul.rtUL .rtTop, .sub-nav-body .RadTreeView_Orion ul.rtUL ul.rtUL .rtMid, .sub-nav-body .RadTreeView_Orion ul.rtUL ul.rtUL .rtBot {
  padding: 0;
}
.sub-nav-body .RadTreeView_Orion ul.rtUL ul.rtUL .rtIn {
  padding: 6px 36px 6px 30px;
  border-left: 4px solid transparent;
  color: #9cbec9;
}
.sub-nav-body .RadTreeView_Orion ul.rtUL ul.rtUL .rtSelected .rtIn,
.sub-nav-body .RadTreeView_Orion ul.rtUL ul.rtUL .child-is-selected-wrapper .rtIn,
.sub-nav-body .RadTreeView_Orion ul.rtUL ul.rtUL .rtLI:hover > div .rtIn {
  color: #fff;
}
.sub-nav-body .RadTreeView_Orion ul.rtUL ul.rtUL .rtSelected .rtIn {
  font-weight: 600 !important;
  border-left-color: #0096c7;
}
.sub-nav-body .RadTreeView_Orion ul.rtUL ul.rtUL ul.rtUL .rtIn {
  /* third level nav needs more padding
  * note that fourth level is not currently supported */
  padding-left: 46px;
}
.sub-nav-body .RadTreeView_Orion ul.rtUL ul.rtUL .rtSp + .PlusLink {
  /* for non-expandable Plus links give it a little extra space*/
  padding-right: 6px;
}

/* Navigation icons
   ========================================================================== */
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtIn:before {
  margin-right: 5px;
}
.sub-nav-body .RadTreeView_Orion .rtPlus, .sub-nav-body .RadTreeView_Orion .rtMinus {
  float: right;
  height: 32px;
  width: 36px;
  margin-right: 0;
  padding-right: 4px;
  cursor: pointer;
  margin-top: 0;
}
.sub-nav-body .RadTreeView_Orion .rtPlus:before, .sub-nav-body .RadTreeView_Orion .rtMinus:before {
  height: 16px;
  width: 16px;
  background-position: -176px 0;
  margin: 8px 8px;
}
.sub-nav-body .RadTreeView_Orion .rtLI:hover > div .rtPlus:before, .sub-nav-body .RadTreeView_Orion .rtLI:hover > div .rtMinus:before, .sub-nav-body .RadTreeView_Orion .child-is-selected-wrapper .rtPlus:before, .sub-nav-body .RadTreeView_Orion .child-is-selected-wrapper .rtMinus:before, .sub-nav-body .RadTreeView_Orion .rtSelected .rtPlus:before, .sub-nav-body .RadTreeView_Orion .rtSelected .rtMinus:before {
  background-position: -192px 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtIn:before {
  float: left;
  height: 16px;
  width: 16px;
  /* make sure no icons are visible by default */
  background-position: 0 16px;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtIn, .sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtIn:before {
  vertical-align: text-bottom;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtPlus, .sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtMinus {
  height: 40px;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtPlus:before, .sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .rtMinus:before {
  margin-top: 12px;
  margin-bottom: 12px;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .CommunityLink:before {
  background-position: 0px 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .MembershipLink:before {
  background-position: -16px 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .FundraisingLink:before {
  background-position: -32px 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .EventsLink:before {
  background-position: -48px 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .CommerceLink:before {
  background-position: -64px 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .EducationLink:before {
  background-position: -80px 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .ReportsLink:before {
  background-position: -96px 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .RiSELink:before {
  background-position: -112px 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .MarketingLink:before {
  background-position: -128px 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .ProcessMgrLink:before {
  background-position: -144px 0;
}
.sub-nav-body .RadTreeView_Orion > .rtUL > .rtLI > div .SetupLink:before {
  background-position: -160px 0;
}
.sub-nav-body .RadTreeView_Orion .rtImg {
  /* Custom icons */
  max-width: 16px;
  max-height: 16px;
  float: left;
  position: relative;
  top: 10px;
  left: 10px;
}

/* Sub nav header
   ========================================================================== */
/* this is not used in the master page, but can apply in other controls */
.SubNavigationHead {
  font-weight: 600;
  font-size: 150%;
  line-height: 1.3;
  padding: .2em .3em;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer-main {
  font-size: 90%;
  text-align: center;
  color: #4d4d4d;
}
.footer-main .footer-inner {
  border-top: 1px solid #ddd;
}
.footer-main .footer-left, .footer-main .footer-right {
  padding-top: 11px;
  padding-bottom: 9px;
}
.footer-main a, .footer-main a:visited {
  color: #4d4d4d;
}
.footer-main a:hover, .footer-main a:active {
  color: #666666;
}
.footer-main .NavigationListItem {
  border-left: 1px solid #999999;
  padding-left: 5px;
  padding-right: 5px;
}
.footer-main select {
  /* shrink the language switcher for better alignment */
  height: 24px;
  padding: 2px 5px;
}
.footer-main .PageTasksPanel {
  min-height: 24px;
  vertical-align: middle;
}
.footer-main .footer-left,
.footer-main .PageTasksPanel a {
  /* vertically align links with the translation drop-down */
  margin-top: 2px;
  margin-bottom: 2px;
}

/* ==========================================================================
   TELERIK OVERRIDES
   ========================================================================== */
/* RadTabStrip
   ========================================================================== */
.RadTabStrip_Orion {
  border-bottom: 2px solid #0096c7;
}
.RadTabStrip_Orion .rtsLink {
  background-color: #fff;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #ddd;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 5px;
}
.RadTabStrip_Orion .rtsLink, .RadTabStrip_Orion .rtsLink:hover, .RadTabStrip_Orion .rtsLink:active, .RadTabStrip_Orion .rtsLink:focus {
  color: #333;
}
.RadTabStrip_Orion .rtsLink.rtsSelected {
  color: #fff;
  background-color: #0096c7;
  border-color: #0096c7;
}
.RadTabStrip_Orion .rtsLink.rtsDisabled {
  background-color: #eee;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.ContentWizardDisplay,
.ContentTabbedDisplay {
  background-color: #fff;
}

/* RadToolTip
   ========================================================================== */
/* Currently used by the QueryMenu iPart */
.RadToolTip_Telerik a:hover {
  background-color: #a5dced;
}

/* RadGrid
   ========================================================================== */
.RadGrid.RadGrid_MetroTouch .rgMasterTable {
  background-color: #fff;
}
.RadGrid.RadGrid_MetroTouch .rgHeader, .RadGrid.RadGrid_MetroTouch .rgRow td,
.RadGrid.RadGrid_MetroTouch .rgAltRow td, .RadGrid.RadGrid_MetroTouch .rgEditRow td {
  border-left-color: transparent;
}
.RadGrid.RadGrid_MetroTouch td.rgPagerCell {
  border-width: 0;
}
.RadGrid.RadGrid_MetroTouch .rgHeader, .RadGrid.RadGrid_MetroTouch .rgHeader:first-child, .RadGrid.RadGrid_MetroTouch th.rgResizeCol, .RadGrid.RadGrid_MetroTouch th.rgResizeCol:first-child, .RadGrid.RadGrid_MetroTouch .rgRow td, .RadGrid.RadGrid_MetroTouch .rgRow td:first-child,
.RadGrid.RadGrid_MetroTouch .rgAltRow td,
.RadGrid.RadGrid_MetroTouch .rgAltRow td:first-child, .RadGrid.RadGrid_MetroTouch .rgEditRow td, .RadGrid.RadGrid_MetroTouch .rgEditRow td:first-child, .RadGrid.RadGrid_MetroTouch .rgFooter td, .RadGrid.RadGrid_MetroTouch .rgFooter td:first-child,
.RadGrid.RadGrid_MetroTouch .rgFilterRow td,
.RadGrid.RadGrid_MetroTouch .rgFilterRow td:first-child, .RadGrid.RadGrid_MetroTouch .rgNoRecords td, .RadGrid.RadGrid_MetroTouch .rgNoRecords td:first-child {
  padding: 7px 12px;
}
.RadGrid.RadGrid_MetroTouch .rgCommandRow {
  background-color: transparent;
}
.RadGrid.RadGrid_MetroTouch .rgNumPart a.rgCurrentPage, .RadGrid.RadGrid_MetroTouch .rgNumPart a.rgCurrentPage:hover,
.RadGrid.RadGrid_MetroTouch .rgPagePrev:active, .RadGrid.RadGrid_MetroTouch .rgPageNext:active, .RadGrid.RadGrid_MetroTouch .rgPageFirst:active, .RadGrid.RadGrid_MetroTouch .rgPageLast:active,
.RadGrid.RadGrid_MetroTouch .rgPager .rgPagerButton {
  background-color: #0096c7;
  border-color: #0096c7;
  color: #fff !important;
}
.RadGrid.RadGrid_MetroTouch .rgMasterTable .rgSelectedCell,
.RadGrid.RadGrid_MetroTouch .rgSelectedRow,
.RadGrid.RadGrid_MetroTouch td.rgEditRow .rgSelectedRow,
.RadGrid.RadGrid_MetroTouch .rgSelectedRow td.rgSorted,
.RadGrid.RadGrid_MetroTouch th.rgSorted {
  background-color: #0096c7;
  border-color: #0096c7;
}
.RadGrid.RadGrid_MetroTouch .rgMasterTable .rgSelectedCell a,
.RadGrid.RadGrid_MetroTouch .rgSelectedRow a,
.RadGrid.RadGrid_MetroTouch td.rgEditRow .rgSelectedRow a,
.RadGrid.RadGrid_MetroTouch .rgSelectedRow td.rgSorted a,
.RadGrid.RadGrid_MetroTouch th.rgSorted a {
  color: #fff !important;
}
.RadGrid.RadGrid_MetroTouch .rgGroupPanel, .RadGrid.RadGrid_MetroTouch .rgGroupPanel caption {
  background-color: #0096c7;
}
.RadGrid.RadGrid_MetroTouch .rgActiveRow td, .RadGrid.RadGrid_MetroTouch .rgActiveRow td.rgSorted,
.RadGrid.RadGrid_MetroTouch .rgSelectedRow td, .RadGrid.RadGrid_MetroTouch .rgSelectedRow td.rgSorted,
.RadGrid.RadGrid_MetroTouch .rgMasterTable .rgActiveCell {
  border-color: #0096c7;
}
* + html .RadGrid.RadGrid_MetroTouch .rgSelectedRow .rgSorted {
  background-color: #0096c7;
}
* html .RadGrid.RadGrid_MetroTouch .rgSelectedRow .rgSorted {
  background-color: #0096c7;
}
.RadGrid.RadGrid_MetroTouch input.rgAdd,
.RadGrid.RadGrid_MetroTouch input.rgRefresh,
.RadGrid.RadGrid_MetroTouch .rgSave,
.RadGrid.RadGrid_MetroTouch .rgCommandRow .rgCancel {
  background-color: #0096c7;
}
.RadGrid.RadGrid_MetroTouch input.rgAdd:hover,
.RadGrid.RadGrid_MetroTouch input.rgRefresh:hover,
.RadGrid.RadGrid_MetroTouch .rgSave:hover,
.RadGrid.RadGrid_MetroTouch .rgCommandRow .rgCancel:hover {
  background-color: #fff;
}

/* RadDataPager
   ========================================================================== */
.RadDataPager.RadDataPager_MetroTouch {
  border: none;
  background-color: transparent;
}
.RadDataPager.RadDataPager_MetroTouch .rdpNumPart a.rdpCurrentPage, .RadDataPager.RadDataPager_MetroTouch .rdpNumPart a.rdpCurrentPage:hover,
.RadDataPager.RadDataPager_MetroTouch .rdpPageFirst:hover, .RadDataPager.RadDataPager_MetroTouch .rdpPagePrev:hover, .RadDataPager.RadDataPager_MetroTouch .rdpPageNext:hover, .RadDataPager.RadDataPager_MetroTouch .rdpPageLast:hover,
.RadDataPager.RadDataPager_MetroTouch .rdpPagerButton {
  background-color: #0096c7;
  border-color: #0096c7;
}

/* RadScheduler
   ========================================================================== */
.RadScheduler.RadScheduler_MetroTouch .rsAptIn {
  border-top: none;
}
.RadScheduler.RadScheduler_MetroTouch .rsHeader {
  border-color: #0096c7;
  background-color: #0096c7;
}
.RadScheduler.RadScheduler_MetroTouch .rsHeader ul a {
  border-color: #0096c7;
}
.RadScheduler.RadScheduler_MetroTouch .rsHeader h2 {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: none;
  border-bottom: none;
}
@media (max-width: 991px) {
  .RadScheduler.RadScheduler_MetroTouch .rsHeader {
    height: auto;
  }
  .RadScheduler.RadScheduler_MetroTouch .rsHeader ul {
    clear: left;
    margin-top: 0;
    margin-bottom: -19px;
  }
  .RadScheduler.RadScheduler_MetroTouch .rsHeader ul a,
  .RadScheduler.RadScheduler_MetroTouch .rsHeader ul .rsSelected em {
    padding-top: 10px;
  }
}

/* RadCalendar
   ========================================================================== */
.RadCalendar.RadCalendar_MetroTouch .rcTitlebar .rcPrev, .RadCalendar.RadCalendar_MetroTouch .rcTitlebar .rcNext, .RadCalendar.RadCalendar_MetroTouch .rcTitlebar .rcFastPrev, .RadCalendar.RadCalendar_MetroTouch .rcTitlebar .rcFastNext {
  color: #0096c7;
}
.RadCalendar.RadCalendar_MetroTouch .rcTitlebar .rcPrev:hover, .RadCalendar.RadCalendar_MetroTouch .rcTitlebar .rcNext:hover, .RadCalendar.RadCalendar_MetroTouch .rcTitlebar .rcFastPrev:hover, .RadCalendar.RadCalendar_MetroTouch .rcTitlebar .rcFastNext:hover {
  border-color: #0096c7;
}
.RadCalendar.RadCalendar_MetroTouch .rcRow .rcToday a {
  border-color: #0096c7;
}
.RadCalendar.RadCalendar_MetroTouch .rcMain .rcRow .rcSelected a, .RadCalendar.RadCalendar_MetroTouch td.rcSelected a, .RadCalendar.RadCalendar_MetroTouch #rcMView_Today {
  border-color: #0096c7;
  background: #0096c7;
}
.RadCalendar.RadCalendar_MetroTouch .rcSelected a {
  background: #0096c7;
}

/* RadMenu
   ========================================================================== */
.RadMenu.RadMenu_MetroTouch, .RadMenu.RadMenu_MetroTouch .rmRootLink {
  text-transform: none;
}
.RadMenu.RadMenu_MetroTouch div.rmRootGroup,
.RadMenu.RadMenu_MetroTouch ul.rmRootGroup {
  background-color: #006f94;
}
.RadMenu.RadMenu_MetroTouch .rmRootLink {
  border-color: #006f94;
}
.RadMenu.RadMenu_MetroTouch .rmDisabled, .RadMenu.RadMenu_MetroTouch .rmDisabled:hover {
  border-color: #006f94;
}
.RadMenu.RadMenu_MetroTouch .rmGroup .rmFocused, .RadMenu.RadMenu_MetroTouch .rmGroup .rmFocused:hover,
.RadMenu.RadMenu_MetroTouch .rmGroup .rmSelected,
.RadMenu.RadMenu_MetroTouch .rmGroup .rmSelected:hover,
.RadMenu.RadMenu_MetroTouch .rmGroup .rmLink.rmSelected,
.RadMenu.RadMenu_MetroTouch .rmGroup .rmLink.rmSelected:hover,
.RadMenu.RadMenu_MetroTouch .rmGroup .rmExpanded,
.RadMenu.RadMenu_MetroTouch .rmGroup .rmExpanded:hover {
  border-color: #006f94;
  background-color: #006f94;
  color: #FFF !important;
}

/* RadWindow
   ========================================================================== */
.RadWindow.RadWindow_MetroTouch .rwTitleRow .rwTitlebar, .RadWindow.RadWindow_MetroTouch .rwTitleRow .rwTopLeft, .RadWindow.RadWindow_MetroTouch .rwTitleRow .rwTopRight {
  background-color: #0096c7;
}
.RadWindow.RadWindow_MetroTouch .rwTitleRow td.rwWindowContent a.rwPopupButton:active, .RadWindow.RadWindow_MetroTouch .rwTitleRow td.rwWindowContent a.rwPopupButton:focus {
  border-color: #0096c7;
  background-color: #0096c7;
}
.RadWindow.RadWindow_MetroTouch .rwControlButtons a:focus {
  border-color: #fff;
  border-radius: 50%;
  /* override setting from UltraWave */
  outline: none;
}
.RadWindow.RadWindow_MetroTouch .rwTable .rwTitlebarControls {
  height: 40px;
}
.RadWindow.RadWindow_MetroTouch .rwTable .rwTitlebarControls em {
  padding-top: 2px;
}
.RadWindow.RadWindow_MetroTouch .rwTable ul.rwControlButtons {
  margin-top: 3px;
}

/* RadTreeView
   ========================================================================== */
.RadTreeView.RadTreeView_MetroTouch {
  line-height: 2 !important;
}
.RadTreeView.RadTreeView_MetroTouch .rtSp {
  height: 28px;
}
.RadTreeView.RadTreeView_MetroTouch .rtPlus, .RadTreeView.RadTreeView_MetroTouch .rtMinus {
  margin-top: 0;
}
.RadTreeView.RadTreeView_MetroTouch .rtIn {
  padding-left: 6px;
  padding-right: 6px;
}
.RadTreeView.RadTreeView_MetroTouch .rtHover .rtIn {
  background-color: #a5dced;
  border-color: #a5dced;
}
.RadTreeView.RadTreeView_MetroTouch .rtSelected .rtIn {
  border-color: #0096c7;
  background: #0096c7;
}

/* ==========================================================================
   ON BEHALF OF ICONS
   ========================================================================== */
.obo-action {
  background-image: url("images/IconSprite.png");
}

/**
  * the background-position for the change icon is the same as in UltraWave
  * but for clear it is different.
  */
.obo-action.obo-clear, .obo-action.obo-clear[disabled]:hover, .obo-action.obo-clear.Disabled:hover, .obo-action.obo-clear.aspNetDisabled:hover, a.aspNetDisabled:hover .obo-action.obo-clear {
  background-position: -490px 0;
}
.obo-action.obo-clear:hover, .obo-action.obo-clear:focus, a:hover .obo-action.obo-clear, a:focus .obo-action.obo-clear {
  background-position: -490px -35px;
}

/* ==========================================================================
   SOCIAL ICONS
   ========================================================================== */
.SocialSprite {
  background-image: url(images/SocialSprite.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: top;
  border-radius: 5px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.SocialSprite.LargeButtons {
  width: 32px;
  height: 32px;
}
.SocialSprite:hover, .SocialSprite:focus, .SocialSprite:active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.SocialSprite.FacebookIcon, .SocialSprite.FacebookIcon:hover, a:hover .SocialSprite.FacebookIcon, .SocialSprite.FacebookIcon:focus, a:focus .SocialSprite.FacebookIcon, .SocialSprite.FacebookIcon:active, a:active .SocialSprite.FacebookIcon {
  background-position: 0 0;
  background-color: #3b5998;
}
.SocialSprite.FacebookIcon.LargeButtons, .SocialSprite.FacebookIcon.LargeButtons:hover, a:hover .SocialSprite.FacebookIcon.LargeButtons, .SocialSprite.FacebookIcon.LargeButtons:focus, a:focus .SocialSprite.FacebookIcon.LargeButtons, .SocialSprite.FacebookIcon.LargeButtons:active, a:active .SocialSprite.FacebookIcon.LargeButtons {
  background-position: 0 -80px;
}
.SocialSprite.TwitterIcon, .SocialSprite.TwitterIcon:hover, a:hover .SocialSprite.TwitterIcon, .SocialSprite.TwitterIcon:focus, a:focus .SocialSprite.TwitterIcon, .SocialSprite.TwitterIcon:active, a:active .SocialSprite.TwitterIcon {
  background-position: -40px 0;
  background-color: #00a0d1;
}
.SocialSprite.TwitterIcon.LargeButtons, .SocialSprite.TwitterIcon.LargeButtons:hover, a:hover .SocialSprite.TwitterIcon.LargeButtons, .SocialSprite.TwitterIcon.LargeButtons:focus, a:focus .SocialSprite.TwitterIcon.LargeButtons, .SocialSprite.TwitterIcon.LargeButtons:active, a:active .SocialSprite.TwitterIcon.LargeButtons {
  background-position: -40px -80px;
}
.SocialSprite.LinkedInIcon, .SocialSprite.LinkedInIcon:hover, a:hover .SocialSprite.LinkedInIcon, .SocialSprite.LinkedInIcon:focus, a:focus .SocialSprite.LinkedInIcon, .SocialSprite.LinkedInIcon:active, a:active .SocialSprite.LinkedInIcon {
  background-position: -80px 0;
  background-color: #0e76a8;
}
.SocialSprite.LinkedInIcon.LargeButtons, .SocialSprite.LinkedInIcon.LargeButtons:hover, a:hover .SocialSprite.LinkedInIcon.LargeButtons, .SocialSprite.LinkedInIcon.LargeButtons:focus, a:focus .SocialSprite.LinkedInIcon.LargeButtons, .SocialSprite.LinkedInIcon.LargeButtons:active, a:active .SocialSprite.LinkedInIcon.LargeButtons {
  background-position: -80px -80px;
}
.SocialSprite.YouTubeIcon, .SocialSprite.YouTubeIcon:hover, a:hover .SocialSprite.YouTubeIcon, .SocialSprite.YouTubeIcon:focus, a:focus .SocialSprite.YouTubeIcon, .SocialSprite.YouTubeIcon:active, a:active .SocialSprite.YouTubeIcon {
  background-position: -120px 0;
  background-color: #c4302b;
}
.SocialSprite.YouTubeIcon.LargeButtons, .SocialSprite.YouTubeIcon.LargeButtons:hover, a:hover .SocialSprite.YouTubeIcon.LargeButtons, .SocialSprite.YouTubeIcon.LargeButtons:focus, a:focus .SocialSprite.YouTubeIcon.LargeButtons, .SocialSprite.YouTubeIcon.LargeButtons:active, a:active .SocialSprite.YouTubeIcon.LargeButtons {
  background-position: -120px -80px;
}
.SocialSprite.EmailIcon, .SocialSprite.EmailIcon:hover, a:hover .SocialSprite.EmailIcon, .SocialSprite.EmailIcon:focus, a:focus .SocialSprite.EmailIcon, .SocialSprite.EmailIcon:active, a:active .SocialSprite.EmailIcon {
  background-position: -160px 0;
  background-color: #0a629a;
}
.SocialSprite.EmailIcon.LargeButtons, .SocialSprite.EmailIcon.LargeButtons:hover, a:hover .SocialSprite.EmailIcon.LargeButtons, .SocialSprite.EmailIcon.LargeButtons:focus, a:focus .SocialSprite.EmailIcon.LargeButtons, .SocialSprite.EmailIcon.LargeButtons:active, a:active .SocialSprite.EmailIcon.LargeButtons {
  background-position: -160px -80px;
}
.SocialSprite.PinterestIcon, .SocialSprite.PinterestIcon:hover, a:hover .SocialSprite.PinterestIcon, .SocialSprite.PinterestIcon:focus, a:focus .SocialSprite.PinterestIcon, .SocialSprite.PinterestIcon:active, a:active .SocialSprite.PinterestIcon {
  background-position: -200px 0;
  background-color: #0a629a;
}
.SocialSprite.PinterestIcon.LargeButtons, .SocialSprite.PinterestIcon.LargeButtons:hover, a:hover .SocialSprite.PinterestIcon.LargeButtons, .SocialSprite.PinterestIcon.LargeButtons:focus, a:focus .SocialSprite.PinterestIcon.LargeButtons, .SocialSprite.PinterestIcon.LargeButtons:active, a:active .SocialSprite.PinterestIcon.LargeButtons {
  background-position: -200px -80px;
}
.SocialSprite.GPlusIcon, .SocialSprite.GPlusIcon:hover, a:hover .SocialSprite.GPlusIcon, .SocialSprite.GPlusIcon:focus, a:focus .SocialSprite.GPlusIcon, .SocialSprite.GPlusIcon:active, a:active .SocialSprite.GPlusIcon {
  background-position: -240px 0;
  background-color: #db4a39;
}
.SocialSprite.GPlusIcon.LargeButtons, .SocialSprite.GPlusIcon.LargeButtons:hover, a:hover .SocialSprite.GPlusIcon.LargeButtons, .SocialSprite.GPlusIcon.LargeButtons:focus, a:focus .SocialSprite.GPlusIcon.LargeButtons, .SocialSprite.GPlusIcon.LargeButtons:active, a:active .SocialSprite.GPlusIcon.LargeButtons {
  background-position: -240px -80px;
}
.SocialSprite.SkypeIcon, .SocialSprite.SkypeIcon:hover, a:hover .SocialSprite.SkypeIcon, .SocialSprite.SkypeIcon:focus, a:focus .SocialSprite.SkypeIcon, .SocialSprite.SkypeIcon:active, a:active .SocialSprite.SkypeIcon {
  background-position: -280px 0;
  background-color: #00aff0;
}
.SocialSprite.SkypeIcon.LargeButtons, .SocialSprite.SkypeIcon.LargeButtons:hover, a:hover .SocialSprite.SkypeIcon.LargeButtons, .SocialSprite.SkypeIcon.LargeButtons:focus, a:focus .SocialSprite.SkypeIcon.LargeButtons, .SocialSprite.SkypeIcon.LargeButtons:active, a:active .SocialSprite.SkypeIcon.LargeButtons {
  background-position: -280px -80px;
}

/**** End Social Netowrking Icon Styling ****/
/* ==========================================================================
   CONTENT ITEMS
   ========================================================================== */
/* Open Invoices
   ========================================================================== */
.OpenInvoicesTotals .SelectedTotal .PanelFieldValue {
  color: #5dae3f;
}

/* Group List Editor
   ========================================================================== */
.RadTreeView.GLE .rtLI {
  margin-bottom: .3em;
}
.RadTreeView.GLE .rtIn, .RadTreeView.GLE .rtHover .rtIn, .RadTreeView.GLE .rtSelected .rtIn {
  background-color: transparent;
  border: none;
  color: #006f94;
}
.RadTreeView.GLE a:hover, .RadTreeView.GLE a:focus, .RadTreeView.GLE span[onclick]:hover, .RadTreeView.GLE span[onclick]:focus {
  background-color: #0096c7;
  color: #fff;
}
.RadTreeView.GLE .rtImg {
  border-radius: 5px;
}

/* Communiaction Preferences
   ========================================================================== */
.CommunicationPreferencesSection {
  background-color: #fff;
}

/* ==========================================================================
   SEARCH
   ========================================================================== */
.SearchField {
  float: left;
  padding-left: 0;
}

.SearchResultSummary .ListItemTitle.SearchResultLink {
  margin-left: 8.5em;
}
.SearchResultSummary .ListItemTitle.SearchResultLink a {
  font-weight: 600;
  font-size: 135%;
  text-decoration: none;
}
.SearchResultSummary .ImageSection {
  margin-top: -34px;
  margin-right: .8em;
  margin-bottom: .8em;
}
@media (min-width: 992px) {
  .SearchResultSummary .ImageSection {
    width: 12em;
    /* Line the picture up with the top of the row */
  }
  .SearchResultSummary .ImageSection img {
    max-width: 12em;
  }
  .SearchResultSummary .ListItemTitle.SearchResultLink,
  .SearchResultSummary .Description {
    margin-left: 12.8em;
  }
}
.no-mqs .SearchResultSummary .ImageSection {
  width: 12em;
  /* Line the picture up with the top of the row */
}
.no-mqs .SearchResultSummary .ImageSection img {
  max-width: 12em;
}
.no-mqs .SearchResultSummary .ListItemTitle.SearchResultLink,
.no-mqs .SearchResultSummary .Description {
  margin-left: 12.8em;
}

/* Event Display
   ========================================================================== */
.EventSummary {
  background-color: #fff;
}
.EventSummary .PhotoArea {
  padding: 2em;
}
.EventSummary .PhotoArea img {
  border: 1px solid #CCC !important;
}
.EventSummary .Description {
  padding: 0 2em 2em;
}
@media (min-width: 768px) {
  .EventSummary .Description {
    padding: 2em;
  }
}
.no-mqs .EventSummary .Description {
  padding: 2em;
}

.ProgramGroup .PanelHead,
.ProgramGroup .panel-heading {
  background-color: #a5dced;
}
.ProgramGroup .PanelTitle,
.ProgramGroup .panel-title {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 120%;
  line-height: 2em;
  padding-left: .5em;
}

/* Product Display
   ========================================================================== */
.ProductDisplay {
  background-color: #fff;
  padding: 1em;
}

/* Progress Tracker
   ========================================================================== */
/* These are overrides for the colors and styles defined in 10-UltraWave.css */
/* <Progress Tracker (Default)> */
.ProgressTracker .count {
  font-weight: bold;
}
.ProgressTracker .SuccessfulMessage,
.ProgressTracker .ProgressBar > span {
  background-color: #0096c7;
}

/* </Progress Tracker > */
/* <Progress Tracker 2> */
.ProgressTracker2 .ProgressTrackerPanel {
  background-color: #a5dced;
}
.ProgressTracker2 .ProgressTrackerPanel:before, .ProgressTracker2 .ProgressTrackerPanel:after {
  content: " ";
  display: table;
}
.ProgressTracker2 .ProgressTrackerPanel:after {
  clear: both;
}
.ProgressTracker2 .ProgressTrackerPanel .count {
  color: #fff;
  font-family: inherit;
  font-weight: 600;
}
.ProgressTracker2 div p {
  background-color: #e8ebf0;
  color: #006f94;
  margin-bottom: 0;
}
.ProgressTracker2 .ProgressBar {
  margin: 10px;
}
.ProgressTracker2 .ProgressBar > span {
  background-color: #8ddb70;
}
.ProgressTracker2 .SuccessfulMessage {
  background-color: #20bff3;
  color: #333;
}

/* </Progress Tracker 2> */
/* Filter Panel (Query Menu)
   ========================================================================== */
/* This is an alternate style for the Query Menu filter panel */
.FilterPanel {
  border: none !important;
  margin-top: -3px;
}
.FilterPanel .PanelTitle,
.FilterPanel .panel-title {
  background-image: none;
  padding-left: 0.1em;
  line-height: normal;
  margin-left: 0;
  font-size: 123.5295%;
}
.FilterPanel .PanelHead.Distinguish,
.FilterPanel .panel-heading.Distinguish {
  border: none;
  min-height: 1em;
}

/* ==========================================================================
   COMMUNITIES
   ========================================================================== */
/* Community left nav */
.CommunityLinksBlock a {
  color: #333;
}
.CommunityLinksBlock a:hover {
  background-color: #a5dced;
  color: #333;
  text-decoration: none;
}
.CommunityLinksBlock a.CommunityLinksSelected, .CommunityLinksBlock a.CommunityLinksSelected:hover {
  background-color: #006f94;
  color: White;
  font-weight: bold;
  text-decoration: none;
}

/* Community breadcrumb */
.BreadCrumbCurrent {
  font-size: 120%;
  font-weight: bold;
}

/*** Communities common elements ***/
.CommunityItemActionLinks a:hover {
  background-color: #006f94;
}

.CommunityItemTitle {
  font-size: 110%;
  padding: .25em 0;
}

.CommunityProfilePicture img {
  border-radius: 5px;
}

.CommunityReplyForm,
.CommunityCommentItem {
  background: #fff;
  border-left: 10px solid #ddd;
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
}

.CommunityWikiItem .CommunityRepeaterList .CommunityCommentItem {
  background: #fff;
}

/* For adding comments */
.CommunityWikiReplyForm {
  background: #fff;
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.05);
}

/* ==========================================================================
   OBJECT BROWSER
   ========================================================================== */
.ObjectBrowserWrapper,
.TagBrowserWrapper {
  background-color: #fff;
}

.OBNavIcon {
  padding-top: 4px;
  padding-bottom: 4px;
}

.ObjectBrowserContentList td {
  padding-top: 1px;
  padding-bottom: 0;
}

.ObjectBrowserContentListName {
  line-height: 2;
}

.ObjectBrowserIcon {
  background-position: 0 6px;
}

.ObjectBrowserContentList .hover {
  background-color: #a5dced;
}
.ObjectBrowserContentList .selected {
  background-color: #0096c7;
}

/* ==========================================================================
   DASHBOARDS
   ========================================================================== */
/* Zone or iPart style for the staff dashboards for consistent styling */
.ProgressTracker_Dashboard .panel-body,
.ProgressTracker_Dashboard_Overview .panel-body {
  padding-top: 0;
}
.ProgressTracker_Dashboard .label,
.ProgressTracker_Dashboard_Overview .label {
  font-size: 120%;
  display: block;
  margin-top: 10px;
}
.ProgressTracker_Dashboard .ProgressBar,
.ProgressTracker_Dashboard_Overview .ProgressBar {
  margin-left: -10px;
  margin-right: -10px;
}

.ProgressTracker2 ul,
.ProgressTracker_Dashboard ul,
.ProgressTracker_Dashboard_Overview ul {
  margin: 0;
  padding: 0;
}
.ProgressTracker2 ul, .ProgressTracker2 li,
.ProgressTracker_Dashboard ul,
.ProgressTracker_Dashboard li,
.ProgressTracker_Dashboard_Overview ul,
.ProgressTracker_Dashboard_Overview li {
  list-style-type: none;
}
.ProgressTracker2 .count,
.ProgressTracker_Dashboard .count,
.ProgressTracker_Dashboard_Overview .count {
  font-weight: 600;
  display: block;
  line-height: 1;
  letter-spacing: -1px;
}
.ProgressTracker2 .label,
.ProgressTracker_Dashboard .label,
.ProgressTracker_Dashboard_Overview .label {
  line-height: 1;
}
.ProgressTracker2 .ProgressBar,
.ProgressTracker_Dashboard .ProgressBar,
.ProgressTracker_Dashboard_Overview .ProgressBar {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  background-color: #e5e5e5;
  background-color: rgba(0, 0, 0, 0.1);
}
.ProgressTracker2 .ProgressBar > span,
.ProgressTracker_Dashboard .ProgressBar > span,
.ProgressTracker_Dashboard_Overview .ProgressBar > span {
  display: block;
  height: 100%;
  background-color: #5dae3f;
  position: relative;
  overflow: hidden;
}
.ProgressTracker2 p,
.ProgressTracker_Dashboard p,
.ProgressTracker_Dashboard_Overview p {
  margin-bottom: 0;
}

.ProgressTracker_Dashboard .panel-heading.Distinguish {
  padding-bottom: 0;
}
.ProgressTracker_Dashboard .inset {
  display: block;
  padding-bottom: 15px;
}

.ProgressTracker2 .count,
.ProgressTracker_Dashboard .count {
  font-size: 350%;
}
.ProgressTracker2 .ProgressBar,
.ProgressTracker_Dashboard .ProgressBar {
  padding: 0;
  height: 18px;
}

.ProgressTracker_Dashboard_Overview .panel {
  /* default the overview PTs to the same height */
  min-height: 137px;
}
.ProgressTracker_Dashboard_Overview .panel-heading.Distinguish {
  border-bottom-color: transparent;
}
.ProgressTracker_Dashboard_Overview .count {
  font-size: 250%;
}
.ProgressTracker_Dashboard_Overview .ProgressBar {
  height: 5px;
  margin-bottom: 5px;
}

.StaffDashboard h2,
.StaffDashboard .panel-heading.Distinguish,
.StaffDashboard .PanelHead.Distinguish,
.StaffDashboard .TitleBarCaption {
  border-bottom-color: transparent;
}
.StaffDashboard h2.Collapsible,
.StaffDashboard .panel-heading.Distinguish.Collapsible,
.StaffDashboard .PanelHead.Distinguish.Collapsible,
.StaffDashboard .TitleBarCaption.Collapsible {
  border-bottom-color: #ddd;
}

/* custom */
.IndivMemProfile .PanelFieldValue {
  clear: both;
}

/* .alignEventProfileComponents > .PanelFieldValue > .CheckBoxList {
	border: none;
} */

span#ctl01_TemplateBody_WebPartManager1_gwpciMyAccount_ciMyAccount_NewPanelEditorCommon_panelEditor_Name_General___INTERESTS.CheckBoxList,
span#ctl01_TemplateBody_WebPartManager1_gwpciMyAccount_ciMyAccount_NewPanelEditorCommon_panelEditor_Name_General___Mail_Prefs.CheckBoxList {
	border: none!important;
}

textarea#ctl01_TemplateBody_WebPartManager1_gwpciMyAccount_ciMyAccount_NewPanelEditorCommon_panelEditor_Name_General___Meal_Prefs,
textarea#ctl01_TemplateBody_WebPartManager1_gwpciMyAccount_ciMyAccount_NewPanelEditorCommon_panelEditor_Name_General___ACCESSIBILITY,
span#ctl01_TemplateBody_WebPartManager1_gwpciMyAccount_ciMyAccount_NewPanelEditorCommon_panelEditor_Name_General___Mail_Prefs.CheckBoxList,
span#ctl01_TemplateBody_WebPartManager1_gwpciMyAccount_ciMyAccount_NewPanelEditorCommon_panelEditor_Name_General___INTERESTS.CheckBoxList {
	width: 250px!important;
}

div#ctl01_TemplateBody_WebPartManager1_gwpciMyAccount_ciMyAccount_NewPanelEditorCommon_panelEditor_editablePanel table tbody tr {
	vertical-align: top!important;
}